{{#each messages}}
  {{#if this.showDateSeparator}}
    <div class="date-separator text-center my-3">
      <span>{{this.formattedDate}}</span>
    </div>
  {{/if}}
  {{#if (eq this.sender_id ../user.id)}}
    <div class="text-end mb-2">
      <div class="message-bubble sender">
        {{this.content}}
      </div>
      <small class="text-muted">{{this.formattedTime}}</small>
    </div>
  {{else}}
    <div class="text-start mb-2">
      <div class="message-bubble receiver">
        {{this.content}}
      </div>
      <small class="text-muted">{{this.formattedTime}}</small>
    </div>
  {{/if}}
{{/each}}